$background: #202021;
$background2: #111111;
$text: #ffffff;
$accent: #804eed;
$accent2: #4ee5ed;
$grey: #b5bebf;

$containerWidth: calc(100vw - 30px);
$containerPx: 1200px;

@mixin fullWidth {
  width: 100vw!important;
  max-width: 100vw;
  margin-left: -15px;
  margin-right: -15px;
  max-width: $containerPx;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 38px;
  color: $accent2;
}

p, span {
  font-weight: 300;
}

a {
  font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,500;1,300;1,500&display=swap');