$background: #202021;
$background2: #111111;
$text: #ffffff;
$accent: #804eed;
$accent2: #4ee5ed;
$grey: #b5bebf;

$containerWidth: calc(100vw - 30px);

@mixin fullWidth {
  width: 100vw!important;
  max-width: 100vw;
  margin-left: -15px;
  margin-right: -15px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,500;1,300;1,500&display=swap');