$dark: #0F0D14;
$light: #FAFAFB;
$accent: #453762;
$light2: #6e6d7a;
$light3: #f4f2f9;
$dark2: #554F59;
$accent2: #7E6D70;

$containerWidth: calc(100vw - 30px);

@mixin fullWidth {
  width: 100vw!important;
  max-width: 100vw;
  margin-left: -15px;
  margin-right: -15px;
}