.big-heading {
  font-size: 13vw;
  letter-spacing: 0vw;
  font-weight: 100;
  margin-bottom: 0;
  @media (min-width: $containerPx) {
    font-size: 154px;
  }
}

.tagline {
  font-size: 7vw;
  display: block;
  color: $accent;
  letter-spacing: -0.5vw;
  font-family: $titleFont;
  font-weight: 700;
  @media (min-width: $containerPx) {
    font-size: 83px;
    letter-spacing: -6px;
  }
}

.introtext {
  font-size: 20px;
  padding: 0 15px;
}

$sectionPadding: 60px;

section {
  padding: $sectionPadding 0;
  &.inverted {
    background-color: $text;
    color: $background;
    padding: $sectionPadding 0;
    @media (max-width: $containerPx) {
      @include fullWidth;
    }
  }
  &.techStack {
    .wordGrid {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      .techLevel {
        display: block;
        margin: 15px;
        flex-grow: 1;
        &.l6 {
          font-size: 32px;
        }
        &.l5 {
          font-size: 28px;
        }
        &.l4 {
          font-size: 24px;
        }
        &.l3 {
          font-size: 18px;
        }
        &.l2 {
          font-size: 14px;
        }
        &.l1 {
          font-size: 12px;
        }
      }
    }
  }
}