body {
    background-color: $background;
    color: #ffffff;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}
.loaded {
  transition: opacity 0.3s ease;
}
.invisible {
  opacity: 0;
}
#mainnav {
  display: flex;
  flex-direction: row-reverse;
  a {
    display: inline-block;
    padding: 10px;
  }
}
a {
  text-decoration: none;
  color: $accent;
  &:hover {
    color: $accent2;
  }
}
main#main {
    min-height: 100vh;
    width: 100vw;
}
.container {
    width: 1400px;
    max-width: $containerWidth;
    padding: 0 15px;
    margin: auto;
    @media (max-width: 1400px) {
      margin: 0;
    }
}

.maincontainer {
    margin: 20px auto;
}

footer.container {
    padding: 30px 15px;
}

.clear {
  clear: both;
}

@media (max-width: 767px) {
  .container {
    margin: 0;
  }
}